.calc{
  width: 280px;
  height: 325px;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 10px;
}
h2{
  text-align: center;
  color:gray
}

button{
  width: 68px;
  height: 50px;
  margin: 1px;
  font-size: 16px;
  border: none;
}
button:hover{
  background-color: silver;
  color:white
}
.inputClass input{
  width: 196px;
  height: 46px;
  font-size: 16px;
  border: none;
  border-top-left-radius: 4px;
  font-size: 20px;
  padding-left: 10px;
  outline: none;
}
.inputClass button{
  background-color: rgb(28, 124, 250)  ;
  color: white;
  border: none;
  /* margin: 0 0 3px 0px; */
  border-top-right-radius: 4px;
  height: 48px;
}
body{
  background-color: silver;
  
}
.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}